@{
    ViewData["Title"] = "About Mr Larmoire";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">

    <p class="lead mt-4">
        Artisan menuisier et ébéniste passionné, installé en Normandie, M. Larmoire vous propose des créations uniques en bois massif.
        Depuis plus de 20 ans, il conçoit, fabrique et restaure avec soin des meubles sur mesure : tables, armoires, portes, chaises, frises décoratives et sculptures.
    </p>

    <p class="mt-3">
        Chaque pièce est réalisée à la main dans le respect des traditions artisanales, en utilisant des essences nobles comme le chêne, le merisier ou le noyer.
        Que vous recherchiez un meuble rustique, contemporain ou entièrement personnalisé, M. Larmoire saura répondre à vos attentes avec précision et authenticité.
    </p>

   
</div>

